<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Sign up for an Aggie Ambassador meeting soon</h1>
    <p>
      You still do not meet the requirements for this year.<br>
    </p>
    <p>
      You can sign up for an event at https://aggieambassadorsapp.herokuapp.com/<br>
    </p>
    <p>Thanks and have a great day!</p>
  </body>
</html>