<div Class="delete">
    <h1>Destroy the user</h1>
    <%= form_for(@user, :method => 'delete') do |form| %>
        <p>Are you sure?</p>
        <p> <%= @user.preferred_name %></p>

        <div class="actions">
            <%= form.submit("Delete")%>
        </div>
    <%end%>
</div>