<div class="bg-light mt-5">
  <footer class="d-flex container bg-light flex-wrap justify-content-between align-items-center py-4">
    <p class="col-md-6 mb-0" style="font-weight: 500;"><a class="text-muted text-decoration-none" href="<%= root_path %>">Aggie Ambassadors</a></p>
    <ul class="nav col-md-6 justify-content-end">
      <li class="nav-item"><a class="nav-link px-2 text-muted" href="<%= root_path %>">Home</a></li>
      <li class="nav-item"><a class="nav-link px-2 text-muted" href="<%= about_path %>">About</a></li>
      <li class="nav-item"><a class="nav-link px-2 text-muted" href="<%= help_path %>">Help</a></li>
    </ul>
  </footer>
</div>
