<main>
  <div class="container">
    <div class="row">
      <div class="col-8">
        <section class="page-info">
          <h1>About</h1>
          <h5>About the organization.</h5>
        </section>
        <section>
          <h5>Mission statement</h5>
          <p>The mission of Aggie Ambassadors is to extend a warm Aggie welcome to the rising M1 class at Texas A&M School of Medicine and to support them throughout their transition to medical school.</p>
        </section>
        <section>
          <h5>Instagram</h5>
          <p><a href="https://www.instagram.com/tamuaggieambassadors/">@tamuaggieambassadors</a></p>
        </section>
      </div>
    </div>
  </div>
</main>
