<main>
    <div class="container">
        <div class="row">
            <div class="col-8">
                <section></section>
                <section class="page-info">
                    <h1>About</h1>
                    <h5>About the organization.</h5>
                </section>
                <section>
                    <p>Welcome to Aggie Ambassadors.</p>
                </section>
            </div>
        </div>
    </div>
</main>
