<main>
  <div class="container">
    <div class="row">
      <div class="col-8">
        <section></section>
        <section class="page-info">
          <h1>Getting Started</h1>
          <h5>A quick guide to use this app.</h5>
        </section>
        <section>
          <p>Visit the <a href="https://github.com/claytonkristiansen/AggieAmbassadorsApp/wiki/User-Guide">Wiki</a> for information about how to use this app.</p>
        </section>
      </div>
    </div>
  </div>
</main>
