<main>
  <div class="container">
    <div class="row">
      <div class="col-8">
        <section></section>
        <section class="page-info">
          <h1>Getting Started</h1>
          <h5>A quick guide to use this app.</h5>
        </section>
        <section>
          <h4>Sign in with Google</h4>
          <p>Hello, welcome to Aggie Ambassadors.</p>
        </section>
        <section>
          <h4>View organizations</h4>
          <p>Hello, welcome to Aggie Ambassadors.</p>
        </section>
        <section>
          <h4>View upcoming events</h4>
          <p>Hello, welcome to Aggie Ambassadors.</p>
        </section>
        <section>
          <h4>Register for events</h4>
          <p>Hello, welcome to Aggie Ambassadors.</p>
        </section>
        <section>
          <h4>Check if you've met the attendance requirement</h4>
          <p>Hello, welcome to Aggie Ambassadors.</p>
        </section>
      </div>
    </div>
  </div>
</main>
