<div class="container">
  <div class="row">
    <div class="col-8">
      <section></section>
      <section class="page-info">
        <h1>Welcome.</h1>
        <h5>Sign in to access the member area.</h5>
      </section>
      <section>
        <a class="btn btn-primary mb-3 larger-btn" href="<%= admin_google_oauth2_omniauth_authorize_path %>" role="button">Sign in with Google</a>
        <p>Click to sign in with your univeristy email.</p>
      </section>
    </div>
  </div>
</div>
