<main>
  <div class="container">
    <div class="row">
      <div class="col-8">
        <section>
          <p id="notice"><%= notice %></p>
        </section>
        <section>
          <div Class="delete">
            <h1>Destroy the Attendance Record</h1>
            <%= form_for(@attendance_record, :method => 'delete') do |form| %>
              <p>Are you sure?</p>
              <div class="actions">
                <%= form.submit("Delete")%>
              </div>
            <%end%>
          </div>
        </section>
      </div>
    </div>
  </div>
</main>
