<main>
  <div class="container">
    <div class="row">
      <div class="col-8">
        <section>
          <h1>Editing Attendance Record</h1>
        </section>
        <section>
          <%= render 'form', attendance_record: @attendance_record %>
          <%= link_to 'Show', @attendance_record %> |
          <%= link_to 'Back', attendance_records_path %>
        </section>
      </div>
    </div>
  </div>
</main>
