// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

section .card .card-body i {
    display: inline-block;
    margin-right: 8px;
    width: 18px;
}