<div Class="delete">
    <%= form_for(@organization, :method => 'delete') do |form| %>
        <h2>Confirm delete</h2>
        <p>Are you sure you want to delete the listing of this organization from the directory?</p>
        <p style="padding-left: 20px;">Organization: <%= @organization.name %></p>
        <p>You can't undo this action.</p>

        <div class="actions">
            <%= link_to 'Cancel', organizations_path %>
            <br>
            <br>
            <%= form.submit("Delete") %>
        </div>
    <% end %>
</div>