<p id="notice"><%= notice %></p>

<h1>Organization Directory</h1>
<p>These organizations are tracked by Aggie Ambassadors.</p>

<br>

<div>

  <h4>Organization name</h4>

  <% @organizations.each do |organization| %>
    <div>
      <p><%= link_to organization.name, organization %></p>
    </div>
  <% end %>

</div>

<br>

<% if is_owner? %>
  <div>
    <h4>Administrator actions</h4>
    <p>Only administrators can see this section.</p>
    <p><%= link_to 'Add an organization', new_organization_path %></p>
  </div>
<% end %>