<main>
  <div class="container">
    <div class="row">
      <div class="col-8">
        <section>
          <h1>New Organization</h1>
        </section>
        <section>
          <%= render 'form', organization: @organization %>
        </section>
        <section>
          <%= link_to 'Back', organizations_path %>
        </section>
      </div>
    </div>
  </div>
</main>
